;A comment is started with the ; character and terminated with the end of line.
;
; Each section starts with a token in []. 
; Those sections are [basic], [switch], [x10], [motor], and [rccar].

; The [basic] section applies to global program data.  TCP port number, etc.
; The following fields are the hard coded defaults.  All fields in this
; section are optional.
[basic]
port 5201  ; the TCP port number to listen on for commands.
togglemax 500 ; The maximum number of counted toggles before auto-ban.
bancheck 0 ; Does the program need to check for bans?
banhours 48 ; How long does a ban last?
bandeduct 60 ; How many seconds to wait to decrement the toggle counter by 1.
slave "64.81.114.60"
brport "/dev/ttyS0" ; serial port used by the x10 interface

; The [switch] section specifies a relay controlled via a parallel port data
; pin.  Each individual switch needs its own [switch] token.  Each switch
; needs a name and a pin number.  All other information is optional.

[switch]
name "drew" ; The name for this switch and part of the command to control it.
label "Drew's Luminglass"
pin 1 ; The data pin on the parallel port to control this switch.
;base 0x378 ; The address of the parallel port this switch uses.
timeout 180 ; Number of seconds to wait before turning off this switch.
control 1 ; Does this server control the switch or does it get relayed.
start 1 ; Does this switch work at midnight?

; The time fields will toggle the availability of the switch at the time
; specified.  If the start field was 1, then the switch will work up until 
; 9 am, then will quit working until 6 pm.  If the start field was 0, then the
; switch wouldn't work until 9 am then would continue to work until 6 pm
; and would remain off until 9 am the next day.  Up to 5 time fields may be
; included per switch.
;time 9:00
;time 18:00
maxmins 2000 ; The maximum number of minutes each day this switch can be on.
maxsecs 80000 ; Same as maxmins only specified in seconds.
;relayhost 127.0.0.1 ; If control is 0, this command will get relayed here.
;relayport 5201 ; listen port on the relay server;

;[switch]
;name Sprinkler 
;pin 5
;maxmins 30

; The [x10] section specifies information about all the x10 modules.  Options
; specified will apply globally unless first isolated with the "house" and
; "unit" fields.

;[x10]
;start 1
;type 2 ; If 1, this is a firecracker transmitter.  if 2, its a CM11A
;localtimeout 3600 ; How long to time out if activated locally (in the house)
;remotetimeout 180 ; How long to time out if activated remotely. (from the site)
;maxmins 2000 
;control 1
;relayhost 127.0.0.1
;relayport 5201

; The global variables should work fine for normal operation.  However, 
; assume you want all modules on housecode C (2) to be relayed to another
; server.

;house 2
;relayhost 192.168.1.2
;relayport 5201

; And lets assume we want housecode D (3), unit 8 to have a 30 minute daily max
; house 3
; unit 8
; maxmins 30

; housecode b, unit 1, label as "test1" on the website
;house 1
;unit 1
;label test1
